* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}
h1 {
  margin: 5rem;
  flex-basis: 100%;
}
.container {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  height: 500px;
  border: 2px solid black;
  box-sizing: content-box;
}
.cell {
  width: 50px;
  height: 50px;
}
.snake {
 background-color: green;
}
.apple {
 background-color: red;
}
.start {
 margin-top: 3rem;
 padding: 1rem 2rem;
 font-size: 20px;
}